@if(!string.IsNullOrWhiteSpace(Title) && ShowTitle) {
  <h3>@Title</h3>
}

<ul>
  @if(List == null || List.Count() == 0) {
    <li>No items added</li>
  } else {
    foreach(var curItem in List) {
      <li draggable="true"
          >@curItem</li>
    }
  }
</ul>

@code {
  [Parameter] public List<string> List { get; set; }
  [Parameter] public string Title { get; set; }
  [Parameter] public bool ShowTitle { get; set; }
}
