@typeparam TItem

<div class="draganddrop-group"
     ondragover="event.preventDefault();"
     @ondrop="@((e) => HandleMove(e, curDNDGroup, draggableItems.Count(d => d.GroupName == curDNDGroup)))"
     @ondrop:preventDefault="true">
  <div class="draganddrop-groupname">@curDNDGroup</div>
  <div class="draganddrop-item-list">

  </div>
</div>
@code {
  protected List<DraggableItem<TItem>> draggableItems = new List<DraggableItem<TItem>>();

}
