@page "/dnd-structcomp"
@using DragAndDrop.Components
@using DragAndDrop.Data

<h3>DragAndDropSampleUsingDataStructureComponents</h3>

<p>Don't touch that heading</p>

<DragAndDropItem Item="@("I am a not draggable")"></DragAndDropItem>

<h3>Draggable Item Sample</h3>
<DraggableItem Item="listOfStrings" DragEnabled="dragEnabled" Name="Draggable Item 1">
  <NullItemTemplate>
    <div>
      <p>Item loading.  Please wait...</p>
    </div>
  </NullItemTemplate>
  <ItemTemplate>
    <span class="oi oi-lock-@(dragEnabled ? "unlocked" : "locked")"></span>
    <ul>
      @foreach (var item in context) {
        <li>@item</li>
      }
    </ul>
    <button @onclick="ToggleDragEnabled">@(dragEnabled ? "Disable " : "Enable ") Dragging</button>
  </ItemTemplate>
</DraggableItem>

@code {
  bool dragEnabled = true;

  QueryParameter queryParam = new QueryParameter() {
    Field = "DocTitle",
    Operator = "Equals",
    Values = new List<object>() {
      "I'm a cookie"
    }
  };

  List<string> listOfStrings;

  protected override async Task OnInitializedAsync() {
    await Task.Delay(2000);

    listOfStrings = new List<string> {
      "First item",
      "Second item",
      "Third item"
    };
  }

  void ToggleDragEnabled(MouseEventArgs e) {
    dragEnabled = !dragEnabled;
  }
}
