@page "/"

<div class="preview-panel">
  <div class="preview-panel-title">
    Drag and Drop - Simple Reorderable List
  </div>
  <div class="preview-panel-description">
    <p>
      Use a list of any type to display in a re-orderable drag and drop list.
    </p>
  </div>
  <div class="preview-panel-samples">
    <div class="preview-panel-page">
      <DragAndDropSimpleListSample />
    </div>
  </div>
</div>

<div class="preview-panel">
  <div class="preview-panel-title">
    Drag and Drop - Groupable and Reorderable
  </div>
  <div class="preview-panel-description">
    <p>
      Use a list of any type to display in a re-orderable drag and drop list.
    </p>
  </div>
  <div class="preview-panel-samples">
    <div class="preview-panel-page">
      <DragonDropNestedGroupsSample />
    </div>
  </div>
</div>