@page "/"

<div class="preview-panel">
  <div class="preview-panel-title">
    Drag and Drop - Live Reorder
  </div>
  <div class="preview-panel-description">
    <p>
      The samples below show pages that use the HTML5 <code>draggable=&quot;true&quot;</code> attribute to enable drag 
      and drop of structured div elements (first) or li elements (second). The order updates while dragging. It seems 
      like I would have more freedom to customize the div soup version rather than being constrained to the unordered 
      list. I will continue exploring both, however.
    </p>
    <p>
      Speaking of exploring further, while setting up this page, I am now seeing what happens when there are multiple 
      drag and drop containers on the same page. At the moment, I have simply instructed the event handler for
      dropping to ignore the drop if that component does not have its curItem populated. This will need to be 
      modified for cases when the intended use is for allowing dropping of items from outside sources (such as an
      image from another page or application.)
    </p>
  </div>
  <div class="preview-panel-samples">
    <div class="preview-panel-page">
      <DragAndDropSampleDiv />
    </div>
    <div class="preview-panel-page">
      <DragAndDropSampleList />
    </div>
  </div>
</div>

<div class="preview-panel">
  <div class="preview-panel-title">
    Drag and Drop - Using the Data Structure
  </div>
  <div class="preview-panel-description">
    <p>
      Here is an example of using the Drag and Drop data structure objects.
    </p>
  </div>
  <div class="preview-panel-samples">
    <div class="preview-panel-page">
      <TestDataStructure />
    </div>
  </div>
</div>